.stepFormText {
    margin-bottom: 24px;
}

.stepFormText .ant-form-item-label, .ant-form-item-control {
    line-height: 22px;
}

.stepFormText .ant-tabs-nav-container .ant-tabs-tab {
    text-align: left !important;
}

.headPanel .ant-card-extra {
    float: left;
    padding: 7px 0;
    margin-left: 0;
}

.attachment_file_list .ant-table-body {
    min-height: auto;
}

.ant-table-thead .all_total_values {
    background: #f2f2f2;
}

.ant-table-thead .all_total_values_first {
    background:#F8F8FF;
}