 .ant-fullcalendar-content .event_day {
    background: #8fc5f1;
    color: white;
    display: block;
}
.events {
    list-style: none;
    margin: 0;
    padding: 0;
}
 .events .ant-badge-status {
    overflow: hidden;
    white-space: normal;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
}
.notes-month {
    text-align: center;
    font-size: 28px;
}
 .notes-month section {
    font-size: 28px;
}
.ant-fullcalendar-next-month-btn-day {
    display: none;
}
/*.ant-fullcalendar-year-select {*/
    /*display: none !important;*/
/*}*/
 .ant-fullcalendar-header {
     margin-top: 10px;
     padding: 11px 16px 11px 0;
     text-align: right;
 }
 .view_document_table .ant-table-body {
     min-height: 48px;
 }

 .view_document_table .ant-table-body .ant-table-row:last-child td {
     border-bottom: none;
 }

 .view_document_table .ant-table-body .ant-table-row td:first-child {

     padding: 2px 2px;
     min-height: 48px;
 }
