.view_document_table .ant-table-body {
    min-height: 48px;
}

.view_document_table .ant-table-body .ant-table-row:last-child td {
    border-bottom: none;
}

.view_document_table .ant-table-body .ant-table-row td:first-child {
    width: 20%;
    padding: 0;
    min-height: 48px;
}

/*.view_document_table .ant-table-body .ant-table-row td {*/
    /*width: 20%;*/
    /*padding: 2px 2px;*/
/*}*/
